@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Raleway:wght@200;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Genshin';
  src: url(./assets/fonts/Genshin.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  src: url(./assets/fonts/Gilroy-Light.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url(./assets/fonts/Gilroy-Extrabold.ttf) format('truetype');
  font-weight: 800;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0a1014;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
